footer
  .container.text-center
    a.github-button.float-right(href="https://github.com/microsoft/typescript-node-starter", data-icon="octicon-star", data-show-count="true", aria-label="Star microsoft/typescript-node-starter on GitHub") Star
