@import 'navigation-styles.scss';

* {
  box-sizing: border-box;
}

:root {
  --primary-grey: #222;
  --off-grey: #444;
}

body {
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

label {
  font-size: 24px;
  font-weight: bold;
}

button {
  background: none;
  border: none;
  font-size: 16px;
  color: inherit;
}

main {
  display: flex;
}

@media (max-width: 600px) {
  main {
    flex-direction: column-reverse;
  }
}

canvas#visualizer {
  flex: 1;
  min-width: 400px;
  height: 100vh;
  background: red;
}
