label {
  font-size: 24px;
  font-weight: bold;
}

div.navigation {
  max-width: 400px;
  width: 100%;
  background: var(--primary-grey);
  display: flex;
  flex-direction: column;
  padding: 15px;
}

button.image-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  img {
    height: 70%;
    width: 70%;
  }
}

div.searchbox {
  display: flex;
  align-items: stretch;
  margin-top: 15px;
  border-radius: 5px;
  background: var(--off-grey);
  border: 2px solid var(--off-grey);

  input {
    flex: 1;
    border: none;
    background-color: inherit;
    font-size: 16px;
    color: var(--primary-grey);
    padding: 15px;
    border-radius: inherit;
    transition: background-color 0.2s;
  }

  input:focus {
    background-color: white;
  }

  button {
    width: 50px;
    height: 50px;
  }
}

ul#search-results {
  // display: none; // reveal on input focus
  list-style-type: none;
  padding: 0;
}

div.now-playing {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button#play-song {
    height: 75px;
    width: 75px;
  }
}

div.song-info {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  div.text-content {
    flex: 1;
  }
}
